
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C36FDB;
    color: white;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background-color: rgb(195, 111, 219);
    align-items: center;
}
      
nav .left{
    margin-left: 80px;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
    /* justify-content: space-between; */
}

#menu-btn{
    display: none;
}
#menu-close



{
    display: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;

}
nav ul li a:hover{
    text-decoration: underline;
    color: rgb(62, 11, 110);
}
nav ul li a.active{
    color: gray;
    text-decoration: underline;
    color: rgb(62, 11, 110);
}

main hr{
    border:0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

/*hamburger menu*/

#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display:inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
    display: none;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
 .menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
 }

 .menu-links li{
    list-style: none;

 }

 .menu-links.open{
max-height: 300px;
 }

 .hamburger-icon.open span:first-child{
    transform: rotate(45deg)translate(10px,5px);
 }


 .hamburger-icon.open span:nth-child(2){
   opacity: 0;
 }


 .hamburger-icon.open span:last-child{
    transform: rotate(-45deg)translate(10px,-5px);
 }

 .hamburger-icon span:first-child{
    transform: none;
 }


 .hamburger-icon span:first-child{
  opacity: 1;
 }


 .hamburger-icon span:first-child{
    transform: none;
 }



/* first section */
.left {
    margin-top: 30px;
    font-size: 1.5rem;
    margin-left: -90px;
}
.left img{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    margin-left: -90px;

}
.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2rem;
}

.leftSection .buttons{
    padding: 50px 0;
}

.leftSection .btn{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 100px;
    padding: 13px 35px;

}

.leftSection .btn:hover{
    color: white;
    background-color: blueviolet;
}

.rightSection img {
    width: 120%;

}

.leftSection .sarathi {
    color: rgb(62, 11, 110);
    font-weight: 600;
    
}

#element{
    color: white;
}


/* Second section */
.secondSection{
    max-width: 80dvw;
    height: 80vh;
    margin-top: 30px;
}


.secondSection h3{
    margin-bottom: 60px;
    color: rgb(62, 11, 110);
}

.secondSection .box{
    width: 80vw;
    height: 2px;
    display: flex;

}

.secondSection .vertical{
    height: 93px;
    width: 1px;
margin: 0 150px;
}

.image-top{
    width: 223px;
    position: relative;
    top: -32px;
    left: -9px;
    
}

.vertical-text-btn .btn{
position: relative;
top:75px;
width: 150px;
height: 30px;
font-size: 20px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 6px;
background-color: white;
cursor: pointer;
}


.vertical-text-btn .btn1{
    position: relative;
    top:75px;
    width: 150px;
    font-size: 20px;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    margin-top: 15px;
    }
    

.vertical-desc{
position: relative;
top: 86px;
width: 150px;
color: white;
margin-bottom: 50px;
}

/* footer */
footer{
    width: 100vh;
}
.footer{

    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul{
    list-style: none;
    margin-left: 50px;
}

footer .footer-rights{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(250, 246, 246);
    margin-right: -100px;
}


    nav ul li a {
        font-size: 1.5rem;
        font-weight: 600;
    
    }
    .sarathi{
        font-size: 3rem;
        font-weight: 1000;
    }
    .firstSection{
        gap: 25rem;
    }
    .leftSection{
        margin-left: 60px;
    }
    #element{
        font-size: 2rem;
        font-weight: 800;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 2rem;

    }
    .btn{
        height: 70px;
        
    }
    .rightSection img{
        height: 50vh;
        width: 50vh;
    }
    .secondSection{
        margin-top: -100px;
        margin-left: -50px;
    }
    .secondSection h3{
        font-size: 1.5rem;
        font-weight: 600;
        color: rgb(62, 11, 110);
margin-left: 60px;
    }
    footer{
        width: 150vh;
    }

/* About page */
.firstSection-about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}
.firstSection-about>div {
    width: 30%;
}
.firstSection-about .rightSection-about{
    margin-bottom: 100px;
}
.firstSection-about .rightSection-about img{
    margin-bottom: 100px;

}
.leftSection .btn-about{
    background-color: white;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    padding: 13px 35px;

}

.leftSection .btn-about:hover{
    color: white;
    background-color: blueviolet;
}

/* our services page */

.secondSection-services{
    max-width: 80dvw;
    height: 80vh;
    margin-top: 30px;
    justify-content: space-evenly;
    align-items: center;
}


.secondSection-services h3{
    margin-bottom: 60px;
    color: rgb(62, 11, 110);
}

.secondSection-services .box{
    width: 80vw;
    height: 2px;
    display: flex;

}

.secondSection-services .vertical{
    height: 93px;
    width: 1px;
margin: 0 150px;
}

.secondSection-services .image-top{
    width: 223px;
    position: relative;
    top: -32px;
    left: -9px;
    
}


.secondSection-services .vertical-text-btn .btn{
position: relative;
top:75px;
width: 150px;
height: 30px;
font-size: 20px;
color: blueviolet;
border: 2px solid blueviolet;
border-radius: 6px;
background-color: white;
cursor: pointer;
}


.secondSection-services .vertical-text-btn .btn1{
    position: relative;
    top:75px;
    width: 150px;
    font-size: 20px;
    color: blueviolet;
    border: 2px solid blueviolet;
    border-radius: 6px;
    background-color: white;
    cursor: pointer;
    margin-top: 15px;
    }
    

    .secondSection-services .vertical-desc{
position: relative;
top: 86px;
width: 150px;
color: white;
margin-bottom: 50px;
}
.image-top-yoga{
    width: 190px;
    height: 160px;
    margin-top: -15px;
}


/* Contact page */
.secondSection{
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}

.get-in-details .phone{
  margin-top: 20px;
    
}
.get-in-details .support{
    margin-top: 20px;
      
  }
  .get-in-details .follow-us{
    margin-top: 20px;
      
  }
  
  
.get-in-details p{
  margin-top: -60px;
  margin-left: 50px;
}
.get-in-details .icon{
    margin-bottom: -100px;
margin-left: 30px;
}
.get-in-details h3{
    margin-top: 70px;
    justify-content: space-evenly;
}
.social-icons{
    margin-top: -60px;
    margin-left: 60px;
    
}

.form{
    width: 60%;
    background: rgb(218, 212, 212);
    padding: 40px;
    border-radius: 10px;
    height: 85%;
}
.form h4{
    font-size: 24px;
    color: #2c234d;
    line-height: 30px;
    margin-bottom: 8px;
}

.form p{
    color: #2c234d;
    line-height: 20px;
    padding-bottom: 8px;
}

.form .form-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}
.form .form-row input{
    width: 42%;
    font-size:14px ;
    font-weight: 400;
    border-radius: 3px;
    border:none ;
    background: #fff;
    outline:none ;
    padding: 20px 20px;
    margin-bottom: 20px;
    
}
.form-col textarea,
.form .form-col input{
    width: 80%;
    font-size:14px ;
    font-weight: 400;
    border-radius: 3px;
    border:none ;
    background: #fff;
    outline:none ;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.form button{
    font-size: .9rem;
    padding: 13px 25px;
    background: rgb(62, 11, 110);
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
}